body {
    background-color: #EAF6F6;
    margin: 0;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #40514E;
}

h1 {
    margin-top: 150px;
    text-align: center;
    font-family: 'Sacramento', cursive;
    font-size: 4.6rem;
    color: #66adbf;
}

h2 {
    font-family: 'Sacramento', cursive;
    font-size: 2.6rem;
    color: #66b9bf;
    
}

h3 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #66BFBF;
}

p   {
    line-height: 2;
}

hr {
    border: dotted #66BFBF 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;

}

a {
    color: #2984b9;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    color: aliceblue;
}
.pro {
    text-decoration: underline;
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
}

.profile-text {
    margin: auto;
    width: 60%;
}

.contact-me-text {
    margin: auto;
    width: 60%;
    margin-bottom: 10px;
}

.contact-me {
    margin-bottom: 100px;
}

.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 14px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #963cfc;
    background-image: -webkit-linear-gradient(top, #963cfc, #3498db);
    background-image: -moz-linear-gradient(top, #963cfc, #3498db);
    background-image: -ms-linear-gradient(top, #963cfc, #3498db);
    background-image: -o-linear-gradient(top, #963cfc, #3498db);
    background-image: linear-gradient(to bottom, #963cfc, #3498db);
    text-decoration: none;
  }

.top-container {
   
}

.top-cloud {
    position:absolute;
    right: 200px;
    top: 50px;
}

.robot-handshakes {
    position:absolute;
    left: 150px;
    bottom: 200px;
    width: 20px;
    height: 20px;
    
    
}

.collaboration-image {
    margin-top: 0px;
    height: 20px;
    width: 20px;
}

.middle-container {

}

.bottom-container {
    
}

.profile-image {
    padding-top: 100px;
    width: 10px;
    height: 10px;
}

.skill-row  {
    width: 50%;
    margin:  10px auto 100px auto;
    text-align: justify;
}

.skill-image1 {
    padding-top: 50px;
    width: 15%;
    float: left;
    margin-right: 50px;
}

.skill-image2 {
    padding-top: 50px;
    width: 15%;
    float: right;
    margin-left: 50px;
}

.bottom-container {
    background-color: #29a3b9;
    padding: 5px 0px 2px;
}

.copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 5px 0px 2px;
}
